.second-form{
    
    background-color: red;
    animation: slide 0.5s alternate ease-in-out;
    display: none;
}
.first-form{
    background-color: red;
    animation: slide 0.5s alternate ease-in-out;
    display: none;
}